
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-container {
    margin: 30px;
    position: relative;
    max-width: 400px;
}
.image-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.container:hover .overlay {
    opacity: 1;
}

img {
    padding: 10px;
    width: 400px;
    height: 400px;
}

img:hover {
    transform: scale(1.25);
    overflow: hidden;
}
img:hover .overlay {
    opacity: 1;
}